/*root styling*/
:root{
    --paragraphs:#222222;
    --links:#666666;
    --buttons: #37A000;
    --overlay: rgba(0,0,0,0.7);
}

/* resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities - Container */
.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

hr{
    color: var(--links);
}

body{
    font-family: 'Catamaran', sans-serif;
    line-height:1.6 ;
}

p{
    color: var(--links)
}

.btn{
    display: inline-block;
    background-color: var(--buttons);
    width: 8rem;
    padding: 0.8rem 0;
    border: none;
    color: #fff;
    margin-top: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: 0.5px solid var(--buttons);
}

 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay);
}

.btn:hover{
    background-color: #fff;
    color: var(--buttons);
}

img{
    width: 100%;
}

h1, h2, h3, h4{
    line-height: 1.3;
}
ul{
    list-style: none;
}

/* navigation */

.nav{
    font-size: 1.2rem;
    padding-top: 0.8rem;
    padding-block: 0.8rem;
    text-transform: capitalize;
}

.nav .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
}

.nav .container .logo{
    color: var(--buttons);
}

.nav .container .nav-links{
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links a{
    margin: 0 .5rem;
    text-decoration: none;
    color: var(--links);
}


/*First section*/
.section-1{
    margin: 2rem 0 3rem;
}

.section-1 .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

.section-1 h1{
    font-size: 3rem;
}
.section-1 h3{
    font-size: 2rem;
}
.section-1 h4{
    font-size: 1.5rem;
}
.section-1 .container>img{
    width: 100%;
    height: 100%;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5em 0;
}

/*Second section skills*/
.skills{
    margin: 2rem 0 3rem;
}
.skills h3{
    text-align: center;
    font-size: 1.5rem;
    margin: 3em 0;
}
.skills .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap:2em;
}

.skills h4{
    margin: 15px 0;
}

.skills p{
    margin: 0 0 16px;
    color: var(--paragraphs);
    font-size: 1.1rem;
}

.skills i{
    color: var(--buttons);
}

/*About me section*/

.about{
    margin: 2rem 0 3rem; 
}

.about h3{
    text-align: center;
    font-size: 1.5rem;
    margin: 3em 0;
}
.about .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap:2em;
}

.about h4{
    margin: 15px 0;
    font-size: 1.2rem;
}

.about p{
    font-size: 1.1rem ;
}

/* contact */

.contact{
    margin: 10rem 0 3rem;
    position: relative;
    height: 500px;
    background: url('/bg.jpg') no-repeat bottom center/cover;
}

.contact-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 860px;
    color: #fff;
}

.contact h3{
    font-size: 2rem;
    color: #fff;
    margin: 1em 0 0;
    text-align: center;
}

/* form */
.form-container{
    border-radius: 5px;
}

input[type=text],input[type=email], textarea{
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    resize: none;
    background: transparent;
    border: 1px solid #ccc;
}

input[type=submit]{
    color: var(--links);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

